<br>
<div class="center">
<h1 class="big">Log in</h1>
<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <br>
  <%= f.submit "Log in", class: "button" %>
<% end %>
<br>
<br>
<%= link_to "New user? Sign up now!", signup_path, class: "center button" %></p>
</div>
