<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav">
            <li style="float:left"><%= link_to "RANK EVERYTHING", '/', id: "logo" %><li>
            <% if logged_in? %>
              <li><%= link_to "Users", current_user %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
            <li><%= link_to "Add A Thing",   '/things/new' %></li>
            <li><%= link_to "Top 10", '/top_ten' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
