<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav">
            <li style="float:left"><%= link_to "RANK EVERYTHING", '/', id: "logo" %><li>
            <li><%= link_to "Log In", "#" %></li>
            <li><%= link_to "Add A Thing",   "#" %></li>
            <li><%= link_to "Top 10", "things/top_ten" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
